* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  font-family: "Montserrat", sans-serif;
  width: 60%;
  margin: 0 auto;
}

.info-section {
  padding: 1em 0;
}

.presentation .presentation__title {
  font-size: 20pt;
  color: #1f5ada;
  font-weight: 600;
}

.presentation .presentation__degree {
  margin: 0.3em 0;
  font-size: 11pt;
  color: #444444;
}
